.container {
    text-align: center;
    margin: 0 auto; // Center the container horizontally
    padding: 20px;
  
    .centered-search-bar {
      margin: 0 auto; // Center the search bar horizontally
      max-width: 1000px; // Adjust the maximum width as needed
      justify-content: space-between;
  
      input {
       flex: 1; 
        padding: 10px; // Adjust the padding to make it bigger
      }
  
      button {
        padding: 10px 20px; // Adjust the padding to make it bigger
        
        
        
      }
    }
  }